*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#ffffff;
    color:#333;
}


body.dark{
    background:#121212;
    color:#fff;
}

body.dark header{
    background:#a855f7;
}

body.dark .card{
    background:#1e1e1e;
}

body.dark .bottom-nav{
    background:#BA55D3;
}


.login-page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4e73df,#1cc88a);
}

.login-box{
    background:#fff;
    padding:30px;
    border-radius:12px;
    width:90%;
    max-width:350px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.login-box h2{
    margin-bottom:20px;
}

.login-box input{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

.login-box button{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:none;
    border-radius:8px;
    background:#4e73df;
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.login-box button:hover{
    background:#2e59d9;
}

.error{
    color:red;
    margin-top:10px;
    font-size:14px;
}


.app{
    min-height:100vh;
    padding-bottom:70px;
}

header{
    background:#c8a2ff;
    color:white;
    padding:15px;
    text-align:center;
    position:relative;
}

.profile-top{
    display:flex;
    gap:15px;
    align-items:center;
    margin-bottom:20px;
}

.profile-left{
    text-align:center;
}

.profile-img{
    width:100px;
    height:100px;
    border-radius:50%;
    border:3px solid #4e73df;
    object-fit:cover;
    display:block;
    margin-bottom:10px;
}

.profile-right input{
    padding:10px;
    width:180px;
    border-radius:8px;
    border:1px solid #ccc;
}


.profile-menu{
    display:flex;
    justify-content:space-around;
    background:#fff;
    padding:15px;
    border-radius:15px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    text-align:center;
}

.profile-menu div{
    cursor:pointer;
    font-size:22px;
}

.profile-menu span{
    display:block;
    font-size:12px;
    margin-top:5px;
}


.profile-options p{
    background:#fff;
    padding:12px;
    margin-bottom:10px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.05);
    cursor:pointer;
    transition:0.3s;
}

.profile-options p:hover{
    transform:translateX(5px);
}

profile-right button{
    margin-top:10px;
    padding:8px;
    border:none;
    border-radius:8px;
    background:#4e73df;
    color:white;
    cursor:pointer;
}

#addressBox{
    background:#fff;
    padding:15px;
    border-radius:12px;
    margin-top:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

#addressBox textarea{
    width:100%;
    height:80px;
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
    margin-bottom:10px;
}
.dark-toggle{
    position:absolute;
    right:15px;
    top:15px;
    background:none;
    border:none;
    font-size:18px;
    color:white;
    cursor:pointer;
}


.products{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
    gap:15px;
    padding:15px;
}

.card{
    background:#fff;
    padding:15px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
    border-radius:8px;
    margin-bottom:10px;
}

.card button{
    padding:6px 10px;
    margin:5px 3px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:#1cc88a;
    color:white;
}

.card button:hover{
    opacity:0.8;
}


section{
    padding:20px;
}

.hidden{
    display:none;
}


ul{
    list-style:none;
}

li{
    background:#fff;
    padding:10px;
    margin-bottom:8px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

li button{
    background:red;
    color:white;
    border:none;
    padding:5px 8px;
    border-radius:6px;
    cursor:pointer;
}

#preview{
    border-radius:50%;
    border:3px solid #4e73df;
    margin-top:10px;
}


#checkoutSection button{
    padding:10px 15px;
    background:#f6c23e;
    border:none;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
}

#checkoutSection button:hover{
    opacity:0.8;
}


.bottom-nav{
    position:fixed;
    bottom:0;
    width:100%;
    background:#4e73df;
    display:flex;
    justify-content:space-around;
    padding:10px 0;
}

.bottom-nav a{
    color:white;
    text-decoration:none;
    font-size:14px;
    cursor:pointer;
}

.bottom-nav a:hover{
    opacity:0.7;
}

.settings-box{
    background:#f4f4f4;
    padding:15px;
    margin-bottom:15px;
    border-radius:10px;
}

.settings-box h3{
    margin-bottom:10px;
}

.settings-box button{
    padding:8px 12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.settings-box.danger{
    background:#ffe6e6;
}

.settings-box.danger button{
    background:red;
    color:white;
}

.dark .settings-box{
    background:#222;
    color:white;
}

.dark .settings-box.danger{
    background:#3a0000;
}

img {
    width: 100%;
    display: block;
    pointer-events: none; 
}

@media(max-width:480px){
    .card{
        padding:10px;


    }
}
